<a href="https://colab.research.google.com/github/micah-earl/Gholink/blob/main/notebooks/starter_housing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install scikit-learn==1.5.2

In [7]:
import pandas as pd

housing = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing.csv')

In [8]:
### sqft_living â€” Interior Living Space
housing['sqft_living'].describe()

## de lo que yo veo hay un rango muy grande de diferencia de sqft_living el por medio is 2,079 the max is 13,540 and the min is 290.

count    20000.000000
mean      2079.883100
std        919.433672
min        290.000000
25%       1430.000000
50%       1910.000000
75%       2550.000000
max      13540.000000
Name: sqft_living, dtype: float64